<ol>
    {% for item in collection.items %}
    <li class="six-columns">
        {{ item.slug | append: ".png" | asset_url | image_tag }}
        <p>{{ item.name }}</p>
    </li>
    {% endfor %}
</ol>
