<ol>
    {% for person in collection.items %}
    <li class="six-columns">
        {{ "200x200" | placeholder | image_tag: person.name }}
        <p>{{ person.name }}</p>
    </li>
    {% endfor %}
</ol>
