<form method="post" action="" class="form">
    <fieldset>

        <label for="name">Name *</label>
        <p>This is your full name.</p>
        <input type="text" name="name" placeholder="John Appleseed">

        <label for="email">Email *</label>
        <p>So we can get back to you.</p>
        <input type="email" name="email" placeholder="john@apple.com">

        <label for="name">Company</label>
        <p>If you have one.</p>
        <input type="text" name="name" placeholder="Apple Inc.">

        <label for="phone">Phone</label>
        <p>A quick call is worth a thousand words.</p>
        <input type="text" name="phone" placeholder="ex. (555) 555-5555">

        <label for="message">Message *</label>
        <p>Keep it short and sweet and we will love your forever, promise.</p>
        <textarea name="message"></textarea>

        <input class="contact-button" type="submit" name="submit" id="submit" value="Send Message" />

    </fieldset>
</form>
