<footer>

    <p>Apex&ndash;net S.r.l.</p>
    <h1>Contact Us</h1>
    <p><a href="mailto:info@apexnet.it">E–mail</a></p>
    <p>Via Cerchia di San Giorgio, 145 47521 Cesena (FC)</p>
    <p>+39 0547 1902799</p>

</footer>
