<nav>
    <ol>
    {% for item in mixture.sitemap %}{% unless item.key == 'index' %}

        <li><a href="{{ item.url }}"{% if mixture.url == item.key %} class="selected"{% endif %}>{{ global.site.navigation[item.key] }}</a></li>

    {% endunless %}{% endfor %}
    </ol>
</nav>
