<nav>
    <ol>
    {% for item in global.site.navigation %}
        {% for x in mixture.sitemap %}{% if x.key == item.key %}

        <li><a href="{{ x.url }}"{% if mixture.url == item.key %} class="selected"{% endif %}>{{ item.title }}</a></li>

        {% endif %}{% endfor %}
    {% endfor %}
    </ol>
</nav>
