<ol>
    {% for item in collection.items %}
    <li class="four-columns">
        {% if item.link %}
            {% assign url = item.link %}
        {% else %}
            {% assign url = "portfolio" | append: item.slug %}
        {% endif %}

        <a class="title" href="{{ url }}">
            {{ item.slug | append: '/thumbnail.png' | asset_url | image_tag: item.title }}
            <p>{{ item.title }}</p>
        </a>
        
    </li>
    {% endfor %}
</ol>
