<ol>
    {% for item in collection.items %}
    <li class="block">
    	
    	<div class="title-text">
	        <a href="{% if item.link %}{{ item.link }}{% else %}{{ item.slug }}{% endif %}">
	            {{ "300x200" | placeholder | image_tag: item.title }}
	            <p>{{ item.title }}</p>
	        </a>
	    </div>
	    
    </li>
    {% endfor %}
</ol>
