{% block content %}

{% collection "about" by 1 %}{% assign about = collection.items.first %}{% endcollection %}

<div class="content">

	<h2>{{ model.page.title }}</h2>

	<section class="about">
	 	<article> {{ about.body }} </article>
	 </section>
	 
</div>

{% endblock %}
