{% block content %}

{% collection "about" by 1 %}{% assign about = collection.items.first %}{% endcollection %}

<div class="content">
	<section class="alternate-view">
		<h2>{{ model.page.title }}</h2> <hr>
	 	{{ about.body }} 
	 </section>
</div>

{% endblock %}
