{% block content %}

{% collection "about" by 1 %}{% assign about = collection.items.first %}{% endcollection %}

<div class="content">
	<section class="title">
		<h2>{{ model.page.title }}</h2><hr>
	 	<article> {{ about.body }} </article>
	 </section>
</div>

{% endblock %}
