{% block content %}

{% collection "about" by 1 %}{% assign about = collection.items.first %}{% endcollection %}

<div class="content">

	<h2>{{ model.page.title }}</h2>

	<section class="about">
	 	<article> {{ about.body }} </article>
	 	
	 	<hr />

	 	<article class="certificate"> 
	 		<p>
		 		<a href="/assets/images/about/certificate.pdf" target="_blank">
		 			<img src="{{ "quality1.png" | asset_url }}" alt="quality" /><br>
		 			Reg. n° 8703 - AUNI EN ISO 9001:2008
		 		</a> 
	 		</p>
	 	</about>
	 </section>
	 
</div>

{% endblock %}
