{% block content %}

<section class="contact">
    <h2>{{ model.page.title }}</h2>

    {{ 1 | lorem_ipsum: 'p' }} 

    <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Apex-Net+Srl,+Via+Cerchia+di+San+Giorgio,+Cesena,+Forl%C3%AC-Cesena,+Italy&amp;aq=1&amp;oq=apex&amp;sll=44.214325,12.165813&amp;sspn=0.145551,0.178356&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;iwloc=A&amp;ll=44.158601,12.240883&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>

    <hr>

<!-- TODO: extract this in a separate include -->
<form method="post" action="" class="form">
    <fieldset>

        <label for="name">Name *</label>
        <p>This is your full name.</p>
        <input type="text" name="name" placeholder="John Appleseed">

        <label for="email">Email *</label>
        <p>So we can get back to you.</p>
        <input type="email" name="email" placeholder="john@apple.com">

        <label for="name">Company</label>
        <p>If you have one.</p>
        <input type="text" name="name" placeholder="Apple Inc.">

        <label for="phone">Phone</label>
        <p>A quick call is worth a thousand words.</p>
        <input type="text" name="phone" placeholder="ex. (555) 555-5555">

        <label for="message">Message *</label>
        <p>Keep it short and sweet and we will love your forever, promise.</p>
        <textarea name="message"></textarea>

        <input class="contact-button" type="submit" name="submit" id="submit" value="Send Message" />

    </fieldset>
</form>

</section>

{% endblock %}
