{% block content %}

<div class="content">

	<section id="projects">
	    <article class="title">
		    <h2>{{ model.sections["projects"].title }}</h2>
		    {% collection "projects" query 'featured=true' order desc %}
		        {% include "showcase" %}
		    {% endcollection %}
		<article>
	</section>

	<section id="clients">
	    <article class="title">
		    <h2>{{ model.sections["clients"].title }}</h2>
		    {% collection "clients" query 'featured=true' order desc %}
		        {% include "showcase" %}
		    {% endcollection %}
	    <article>
	</section>

</div>

{% endblock %}
