{% block content %}

<section id="projects">
    <h2>{{ model.sections["projects"].title }}</h2>
    {% collection "projects" query 'featured=true' order desc %}
        {% include "showcase" %}
    {% endcollection %}
</section>

<section id="clients">
    <h2>{{ model.sections["clients"].title }}</h2>
    {% collection "clients" query 'featured=true' order desc %}
        {% include "showcase" %}
    {% endcollection %}
</section>

{% endblock %}
