{% block content %}

<h1>{{ model.title }}</h1>

{% collection "projects" %}
    {% for project in collection.items %}
        <h2>{{ project.title }}</h2>
    {% endfor %}
{% endcollection %}

{% endblock %}
