{% block content %}

<h1>{{ model.page.title }}</h1>

<section id="web">
    <h4>{{ global.site.projects.categories["web"].title }}</h4>
    {% collection "projects" query 'category=web' order desc %}
        {% include "showcase" %}
    {% endcollection %}
</section>

<section id="mobile">
    <h4>{{ global.site.projects.categories["mobile"].title }}</h4>
    {% collection "projects" query 'category=mobile' order desc %}
        {% include "showcase" %}
    {% endcollection %}
</section>

<section id="services">
    <h4>{{ global.site.projects.categories["services"].title }}</h4>
    {% collection "projects" query 'category=services' order desc %}
        {% include "showcase" %}
    {% endcollection %}
</section>

{% endblock %}
