{% block content %}

<div>
    <section class="content title" id="web">
        <h2>{{ global.site.projects.categories["web"].title }}</h2>
        {% collection "projects" query 'category=web' order desc %}
            {% include "showcase" %}
        {% endcollection %}
    </section>
<div>

<div class="section-background">
    <section class="content title" id="mobile">
        <h2>{{ global.site.projects.categories["mobile"].title }}</h2>
        {% collection "projects" query 'category=mobile' order desc %}
            {% include "showcase" %}
        {% endcollection %}
    </section>
</div>

<div>
    <section class="content title" id="services">
        <h2>{{ global.site.projects.categories["services"].title }}</h2>
        {% collection "projects" query 'category=services' order desc %}
            {% include "showcase" %}
        {% endcollection %}
    </section>
</div>

{% endblock %}
