{% block content %}

	<div class="content">
		<section class="team">
			<h2>{{ model.page.title }}</h2><hr>
			{% collection "team" order asc %}
			    {% include "badges" %}
			{% endcollection %}
		</section>
	</div>

{% endblock %}
