.highlight-text {
  background-color: $header-nav-link-color;
  padding-left: em(9);
  padding-right: em(9);
  padding-top: em(5);
  padding-bottom: em(5);
  
  border-top-left-radius: em(5);
  border-top-right-radius: em(5);
  border-bottom-left-radius: em(5);
  border-bottom-right-radius: em(5);
}

header {
  background-color: $default-highlight-color;
  border-bottom: 1px solid #288499;
  height: 5em;

  nav {
    float: right;
    margin-top: 2em;
    font-size: $default-font-small;
    font-weight: 400; 
    text-align: center;
    a:link, a:visited, a:hover, a:active {
      color:$header-nav-link-color;
    }  

    li {
      display: inline-block;
      margin-left: em(20);

      .selected {
        color: white;
        @extend .highlight-text;
      } 
    }
  }
}

header img {
  float: left;
  margin-top: 1.1em;
}
