header {
  background-color: $header-background-color;
  height: 5em;

  div{
    @include outer-container;

    nav {
      float: right;

      li {
        display: inline-block;
      }
    }
  }
}
