html, body {
  height: 100%;
}
.content {
  @include outer-container;
  padding-left: $default-margin-small;
  padding-right: $default-margin-small;
  padding-bottom: 100px;
}

section {
  @extend .content;
}

hr {
    margin-top: em(50);
    margin-bottom: em(50);
    width: 10%;
    margin-left: 45%;
  }

h2 {
  margin-top: em(20);
  margin-bottom: em(15);
  margin-left: 40%;
  margin-right: auto;

  font-weight: 200;
  text-align: center;
  padding-bottom: em(15);
  width: 20%;

  border-bottom: thin solid #d4d4d4;
  border-spacing: 20px;
}

h3 {
  color: $default-highlight-color;
  font-weight: 200;
}

.title {
  p {
    color: $title-text-color;
    font-weight: 400;
    margin-left: $default-margin-small;
  }
}

.alternate-view {

  h2 {
  margin-top: em(20);
  margin-bottom: em(5);
  font-weight: 200;
  border-bottom: 0;
  padding-bottom: 0px;
  text-align: left;
  margin-left: 0%;

  }

  article {
    margin-top: $default-margin-medium;
  }

  p,li {
    font-size: $default-font-medium;
    font-color: $light-font-color;
    font-weight: 200;
  }

  img {
    border-style:solid;
    border-width:1px;
    border-color: #d2d2d2;
  }
}

.contact-address {
  margin-bottom: $default-margin-big;

  h2 {
  margin-top: em(20);
  margin-bottom: em(10);
  font-weight: 200;
  text-align: center;
  border-bottom: 0;
  padding-bottom: 0px;

  }

  p {
    font-size: em(15);
    font-color: $light-font-color;
    font-weight: 200;
    line-height: 10px;
    text-align: center;
  }
}

.form {
  @extend .alternate-view;

  width: 60%;
  margin-left: 20%;

  input.button {
    float: center;

  }

}

.google-maps {
    position: relative;
    padding-bottom: 35%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.title {
  p {
    font-size: em(18);
    font-color: $light-font-color;
    text-align: center;
    padding-top: $default-font-small;
  }

  li {
    margin-bottom: $default-margin-big;
  }
}

.about {
  p {
    line-height: 160%;
    font-size: $default-font-big;
    font-color: $light-font-color;
    font-weight: 200;
    text-align: center;
  }
}

