.content {
  @include outer-container;
  padding-left: $default-margin-small;
  padding-right: $default-margin-small;
}

section {
  @extend .content;
  margin-bottom: $default-margin-big;
}

h2 {
  margin-top: $default-margin-medium;
  margin-bottom: $default-margin-small;
  font-weight: 200;
}

h3 {
  color: $header-background-color;
  font-weight: 200;
}

hr {
  margin-top: $default-margin-small;
  margin-bottom: $default-margin-medium;
}

.title {
  p {
    color: $title-text-color;
    font-weight: 400;
    margin-left: $default-margin-small;
  } 
}

.project-view {
  hr {
    margin-top: $default-margin-small;
    margin-bottom: $default-margin-small;
  }

  article {
    margin-top: $default-margin-medium;
  }
}
