
html, body {
  height: 100%;
}
.content {
  @include outer-container;
  padding-left: $default-margin-small;
  padding-right: $default-margin-small;
}

section {
  @extend .content;
  margin-bottom: $default-margin-big;
}

h2 {
  margin-top: $default-margin-medium;
  margin-bottom: $default-margin-small;
  font-weight: 200;
}

h3 {
  color: $default-highlight-color;
  font-weight: 200;
}

hr {
  margin-top: $default-margin-small;
  margin-bottom: $default-margin-medium;
}

.title {
  p {
    color: $title-text-color;
    font-weight: 400;
    margin-left: $default-margin-small;
  } 
}

.alternate-view {
  hr {
    margin-top: $default-margin-small;
    margin-bottom: $default-margin-small;
  }

  article {
    margin-top: $default-margin-medium;
  }

  p {
    font-size: $default-font-medium;
    font-color: $light-font-color;
    font-weight: 400;
  }

  img {
    border-style:solid;
    border-width:1px;
    border-color: #d2d2d2;
  }
}

.about {
  @extend .alternate-view;

  p {
    line-height: 160%;
  }
}
