.content {
  @include outer-container;
}

section {
  @extend .content;
  margin-bottom: $default-margin-big;
}

.title-text {
	p {
	  color: $title-text-color;
	  font-weight: 500;
	  margin-left: $default-margin-small;
	  p:hover { color:$default-link-color; }
	} 
}

h4 {
  color: $default-link-color;
}

h1 {
  margin-top: $default-margin-medium;
  margin-bottom: $default-margin-small;
}
