// Global ---------------------------------------------------------------
$default-highlight-color: #3abddb;
$default-link-color: #3abddb;

$dark-font-color: #333333;
$light-font-color: #aaaaaa;

$title-text-color: $dark-font-color;

// Margin
$default-margin-big: em(40);
$default-margin-medium: em(15);
$default-margin-small: em(4);
$image-margin: em(10);

$default-font-small: em(14);
$default-font-medium: em(16);
$default-font-big: em(20);

// Header ---------------------------------------------------------------

// Nav links
$header-nav-link-color: $dark-font-color;
$header-nav-link-color-visited: $dark-font-color;
$header-nav-link-color-hover: $dark-font-color;
$header-nav-link-color-active: $dark-font-color;


// Footer ---------------------------------------------------------------
$footer-background-color: #333333;
$footer-height: 50px;
