// Header ---------------------------------------------------------------
$header-background-color: #0fa7d4;

// -- Nav links --
$header-nav-link-colour: #333333;
$header-nav-link-colour-visited: #333333;
$header-nav-link-colour-hover: #333333;
$header-nav-link-colour-active: #333333;

// Footer ---------------------------------------------------------------
$footer-background-color: green;
