// Header ---------------------------------------------------------------
$header-background-color: #3abddb;

// Nav links
$header-nav-link-color: #333333;
$header-nav-link-color-visited: #333333;
$header-nav-link-color-hover: #333333;
$header-nav-link-color-active: #333333;


// Footer ---------------------------------------------------------------
$footer-background-color: #333333;
$footer-height: 50px;

//Fonts
$footer-font-size: 14px;


// Global ---------------------------------------------------------------
$dark-font-color: #333333;
$light-font-color: #f2f2f2;
$default-link-color: #3abddb;
$default-margin: 50px;