{% block content %}

{% collection "projects" by 1 query 'slug=/projects/{{ mixture.route.project }}' %}
    {% assign project = collection.items.first %}
{% endcollection %}

<h1>{{ project.title }}</h1>
{{ "600x400" | placeholder | image_tag: project.title }}
{{ project.body }}

{% endblock %}
